<!-- _includes/related_posts.html -->


{% if site.related_posts.size >= 1 %}
<div>
  <h3>Posts Relacionados:</h3>
  <div class="blog container">
    {% for related_post in site.related_posts limit: 3 %}
   

<div style="margin:10px; width:calc(100% - 20px); border-radius:15px;     
  background-color: #23272f;
    border: 1px solid #23272f;
    color: white;
   display:flex;
flex-direction: row;
  padding: 10px;
    box-shadow: 2px 0px 30px -11px rgba(0,0,0,0.67);
    -webkit-box-shadow: 2px 0px 30px -11px rgba(0,0,0,0.67);
    -moz-box-shadow: 2px 0px 30px -11px rgba(0, 0, 0, 0.67);">
   <a href="{{ related_post.url }}" style="color:white;">
      <img src="{{ related_post.image }}" width="100" height="auto" style="border-radius:15px;" alt="{{ related_post.title }}"> 
       </a>
  <div style=" width: calc(100% - 131px); max-width: calc(100% - 130px);">
           <a href="{{ related_post.url }}" style="color:white;"> <span class="card-title" style="font-size:25px;">{{ related_post.title }}</span>
         <p class="card-text">{{ related_post.title }}</p>  </a>
      </div>
  
</div>
    {% endfor %}
  </div>
</div>
{% endif %}
