<!-- _includes/related_posts.html -->


{% if site.related_posts.size >= 1 %}
<div style="border:1px solid #ff034f; border-radius: 25px; padding:10px;">

  <h3 style="color:#ff034f;">Posts Relacionados:</h3>
  <div class="d-flex justify-content-center" style=" border-top:2px dashed #ff034f;">
    {% for related_post in site.related_posts limit: 5 %}
   
 <a href="{{ related_post.url }}" style="color:white; text-decoration: none; ">
<div style="margin:10px; max-width:550px; border-radius:15px;     
  background-color: #23272f;
    border: 1px solid #23272f;
    color: white;
   display:flex;
flex-direction: row;
  padding: 10px;
    box-shadow: 2px 0px 30px -11px rgba(0,0,0,0.67);
    -webkit-box-shadow: 2px 0px 30px -11px rgba(0,0,0,0.67);
    -moz-box-shadow: 2px 0px 30px -11px rgba(0, 0, 0, 0.67);">
  
      <img src="{{ related_post.image }}" width="100" height="auto" style="border-radius:15px;" alt="{{ related_post.title }}"> 
       
  <div style=" width: calc(100% - 131px); max-width: calc(100% - 130px); padding-left:15px; border-left: 5px solid white;margin-left:10px;">
           
             <h5 class="card-title" style="font-size:20px;">{{ related_post.title }}</h5>
         <p class="card-text">{{ related_post.title }}</p>  
      </div>
  
</div>
  </a>
    {% endfor %}
  </div>
</div>
{% endif %}
<hr/>
