<!-- _includes/related_posts.html -->


{% if site.related_posts.size >= 1 %}
<div>
  <h3>Posts Relacionados:</h3>
  <div class="blog container">
    {% for related_post in site.related_posts limit: 5 %}
   

<div class="card">
   <a href="{{ related_post.url }}" class="linkcard">
      <img src="{{ related_post.image }}" class="card-img-top " alt="{{ related_post.title }}"> 
      <div class="card-body">
         <h5 class="card-title">{{ related_post.title }}</h5>
         <p class="card-text">{{ related_post.title }}</p>
      </div>
   </a>
</div>
    {% endfor %}
  </div>
</div>
{% endif %}
