---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://cdn.jsdelivr.net">
        <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
        {% if page.url == "/" %}
 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Mad Mage Dungeon",
    "url": "{{ site.url | absolute_url }}",
    "description": "Mad Mage Dungeon é o seu portal para o mundo do RPG de mesa, repleto de dicas, adaptações, NPCs e cenários incríveis. Explore nossa masmorra virtual e transforme suas sessões em aventuras épicas. Prepare-se para rolagens memoráveis e momentos inesquecíveis à mesa!",
    "publisher": {
      "@type": "Organization",
      "name": "Mad Mage Dungeon",
      "logo": {
        "@type": "ImageObject",
        "url": "https://cdn.jsdelivr.net/gh/madmagedungeon/mmd-images@main/MadMageDungeon-logo.png"
      }
    },
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ site.url | absolute_url }}/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
        <meta name="description" content="Mad Mage Dungeon é o seu portal para o mundo do RPG de mesa, repleto de dicas, adaptações, NPCs e cenários incríveis. Explore nossa masmorra virtual e transforme suas sessões em aventuras épicas. Prepare-se para rolagens memoráveis e momentos inesquecíveis à mesa!">
        {% else %}
          <meta name="description" content="{{ page.preview }}" />
 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}"
    },
    "headline": "{{ page.title }}",
    "description": "{{ page.excerpt | strip_html }}",
    "image": "{{ page.image | absolute_url }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Mad Mage Dungeon",
      "logo": {
        "@type": "ImageObject",
        "url": "https://cdn.jsdelivr.net/gh/madmagedungeon/mmd-images@main/MadMageDungeon-logo.png"
      }
    },
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}"
  }
  </script>
        {% endif %}
        <meta name="keywords" content="RPG, rpg de mesa, dnd, d&d, dungeon, elfo, mago, blog, dicas, OSR, Old Dragon, Tormenta    "/>
        <link rel="canonical" href="{{ site.url }}{{ page.url | remove: 'index.html' }}">
        <meta name="author" content="William Barros"/>
        <meta name="language" content="pt-BR"/>
        <link rel="manifest" href="/manifest.json">
        <meta property="og:title" content="Mad Mage Dungeon">
        <meta property="og:description" content="Mad Mage Dungeon é o seu portal para o mundo do RPG de mesa, repleto de dicas, adaptações, NPCs e cenários incríveis. Explore nossa masmorra virtual e transforme suas sessões em aventuras épicas. Prepare-se para rolagens memoráveis e momentos inesquecíveis à mesa! ">
        <meta property="og:image" content="/android-chrome-512x512.png">
        <meta property="og:image:width" content="512">
        <meta property="og:image:height" content="512">
        <meta property="og:url" content="/site.webmanifest">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="pt_BR">
        <meta name="background-color" content="#23272f">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content=" ">
        <link rel="apple-touch-icon" sizes="192x192" href="/android-chrome-192x192.png">
        <link rel="apple-touch-icon" sizes="512x512" href="/android-chrome-512x512.png">
        <link rel="manifest" href="/site.webmanifest" />
        <title>{% if page.url == "/" %}Mad Mage Dungeon Blog de RPG{% else %}
 {{ page.title }} - Mad Mage Dungeon Blog de RPG{% endif %}</title>
        <link rel="stylesheet" async href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" async href="https://madmagedungeon.github.io/assets/css/style-main.css" />
        <!-- Google tag (gtag.js) -->
        <link rel="icon" type="image/x-icon" href="https://madmagedungeon.github.io/favicon.ico">
        <style>
            /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color:#ff034f73 #23272f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
      height:10px;
  }

  *::-webkit-scrollbar-track {
    background: #23272f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff034f73;

  }
        </style>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86VJ1NPZS8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-86VJ1NPZS8');
</script>
    </head>
    <body>
        <div class="container">
            <div class="main">
                <header class="head">
                    <img src="https://cdn.jsdelivr.net/gh/madmagedungeon/mmd-images@main/MadMageDungeon-logo.png" alt="Logo: Mad Mage Dungeon (Mago Louco) " class="logo">
                    <div class="pos-logo">
                        <span class="omago">Mad Mage</span>
                        <p style="margin-top:-10px;">Dungeon</p>
                    </div>
                    <div class="menu-top hidden-mobile">
                        <nav class="hidden-mobile">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://rpg.williambarros.com.br/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://rpg.williambarros.com.br/blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://rpg.williambarros.com.br/downloads">Downloads</a>
                                </li>
                              
                              
                                <li class="nav-item">
                                    <input type="text" id="search-input" class=" secondcolor"  style="color:white;
    background-color: #f4f4f400;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
" placeholder="Pesquisar...">
                                    
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="show-mobile">
                        <div class=" d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-danger" aria-label="Menu Principal" title="Menu Principal" onclick="toggleE('menumobile')" alt="Menu Principal" name="Menu Principal">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="46"
                                    height="46"
                                    fill="currentColor"
                                    class="bi bi-list"
                                    viewBox="0 0 16 16"
                                >
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </header>
                <!--<div class="first-content"></div> -->
                <div id="menumobile" style="display: none;">
                    <ul class="list-group" style="text-align: center;">
                         <li>
                                    <a class="nav-link" href="https://rpg.williambarros.com.br/">Home</a>
                                </li>
                                <li >
                                    <a class="nav-link" href="https://rpg.williambarros.com.br/blog">Blog</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="https://rpg.williambarros.com.br/downloads">Downloads</a>
                                </li>
                        <li>
                              <input type="text" id="search-input" class=" secondcolor"  style="color:white;
    background-color: #f4f4f400;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
" placeholder="Pesquisar...">
                        </li>
                      
                    </ul>
                </div>
                <div class="main-content">
                <ul id="results-container"></ul>
                    <br/>
                    {{ content }}
                </div>
            </div>
        </div>
        <!-- || -->
       <div class="footer footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Mad Mage Dungeon | 2024</h3> <a href="https://rpg.williambarros.com.br/politica-de-privacidade" style="color:white;">Política de Privacidade</a> & <a href="https://madmagedungeon.github.io/termos-de-uso" style="color:white;">Termos de Uso</a>
            </div>
            <div class="col-md-6 text-right">
              <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        
                    </li>
                    <li class="list-inline-item">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
           <script src="https://cdn.jsdelivr.net/gh/madmagedungeon/madmagedungeon.github.io@main/assets/js/search.min.js"></script>
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: 'https://madmagedungeon.github.io/search.json',
    noResultsText: '<li>Nenhum resultado encontrado!</li>',
  searchResultTemplate: '<li><a href="{{ site.url }}{url}">{title}</a></li>'
})
</script>
           <script defer src="https://cdn.jsdelivr.net/gh/madmagedungeon/madmagedungeon.github.io@main/assets/js/main.js"></script>
      
    </body>
</html>
