---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page.url == "/" %}
        <meta name="description" content="Mad Mage Dungeon é o seu portal para o mundo do RPG de mesa, repleto de dicas, adaptações, NPCs e cenários incríveis. Explore nossa masmorra virtual e transforme suas sessões em aventuras épicas. Prepare-se para rolagens memoráveis e momentos inesquecíveis à mesa!">
        {% else %}
          <meta name="description" content="{{ page.preview }}" />
        {% endif %}
        <meta name="keywords" content="RPG, rpg de mesa, dnd, d&d, dungeon, elfo, mago, blog, dicas, OSR, Old Dragon, Tormenta    "/>
        <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">
        <meta name="author" content="William Barros"/>
        <meta name="language" content="pt-BR"/>
        <link rel="manifest" href="/manifest.json">
        <meta property="og:title" content="Mad Mage Dungeon">
        <meta property="og:description" content="Mad Mage Dungeon é o seu portal para o mundo do RPG de mesa, repleto de dicas, adaptações, NPCs e cenários incríveis. Explore nossa masmorra virtual e transforme suas sessões em aventuras épicas. Prepare-se para rolagens memoráveis e momentos inesquecíveis à mesa! ">
        <meta property="og:image" content="/android-chrome-512x512.png">
        <meta property="og:image:width" content="512">
        <meta property="og:image:height" content="512">
        <meta property="og:url" content="/site.webmanifest">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="pt_BR">
        <meta name="background-color" content="#23272f">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content=" ">
        <link rel="apple-touch-icon" sizes="192x192" href="/android-chrome-192x192.png">
        <link rel="apple-touch-icon" sizes="512x512" href="/android-chrome-512x512.png">
        <link rel="manifest" href="/site.webmanifest" />
        <title>{% if page.url == "/" %}Mad Mage Dungeon - Blog de RPG {% else %}
 {{ page.title }} - Mad Mage Dungeon- Blog de RPG {% endif %}</title>
        <link rel="stylesheet" href="/assets/css/style-main.css" />
        <!-- Google tag (gtag.js) -->
        <style>
            /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color:#ff034f73 #23272f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
      height:10px;
  }

  *::-webkit-scrollbar-track {
    background: #23272f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff034f73;

  }
        </style>
        <script>
            var idx;
var data = [];

fetch('https://madmagedungeon.github.io/search.json')
  .then(response => response.json())
  .then(fetchedData => {
    data = fetchedData;
    idx = lunr(function () {
      this.field('title');
      this.field('content');
      this.field('tags');
      this.ref('url');
      
      fetchedData.forEach(function (doc) {
        this.add(doc);
      }, this);
    });
  })
  .catch(error => console.error('Error fetching search index:', error));

document.getElementById('search-input').addEventListener('input', function () {
  var query = this.value.trim();
  if (idx && query.length > 0) {
    // Adiciona wildcard ao início e ao final da query para buscas mais flexíveis
    var lunrQuery = `*${query}*`;
    var results = idx.search(lunrQuery);
    var resultList = document.getElementById('results');
    console.log(results);
    resultList.innerHTML = '';

    if (results.length > 0) {
      results.forEach(function (result) {
        var li = document.createElement('li');
        var post = data.find(post => post.url === result.ref);
        if (post) {
          li.innerHTML = '<a href="' + post.url + '">' + post.title + '</a>';
          resultList.appendChild(li);
        }
      });
    } else {
      resultList.innerHTML = '<li>Nenhum resultado encontrado</li>';
    }
  } else {
    document.getElementById('results').innerHTML = '<li>Nenhum resultado encontrado</li>';
  }
});

        </script>
    </head>
    <body>
        <div class="container">
            <div class="main">
                <header class="head">
                    <img src="/logo.png" alt=" " class="logo">
                    <div class="pos-logo">
                        <h3>Mad Mage</h3>
                        <p style="margin-top:-10px;">Dungeon</p>
                    </div>
                    <div class="menu-top hidden-mobile">
                        <nav class="hidden-mobile">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://madmagedungeon.github.io/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://madmagedungeon.github.io/blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://madmagedungeon.github.io/downloads">Downloads</a>
                                </li>
                              
                              
                                <li class="nav-item">
                                    <input type="text" id="search-input" class="btn btn-outline-danger secondcolor" placeholder="Pesquisar...">
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="show-mobile">
                        <div class=" d-flex justify-content-end">
                            <a href="#" onclick="toggleE('menumobile')" alt="Menu Principal" name="Menu Principal">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="46"
                                    height="46"
                                    fill="currentColor"
                                    class="bi bi-list"
                                    viewBox="0 0 16 16"
                                >
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </header>
                <!--<div class="first-content"></div> -->
                <div id="menumobile" style="display: none;">
                    <ul class="list-group" style="text-align: center;">
                        <li>
                            <a href="https://madmagedungeon.github.io/"><h3>Home</h3></a>
                        </li>
                        <li>
                            <a href="https://madmagedungeon.github.io//contato"><h3>Contato</h3></a>
                        </li>
                        <li>
                            <a href="https://madmagedungeon.github.io//portifolio/"><h3>Portifólio </h3></a>
                        </li>
                        <li>
                            <a class="btn btn-outline-success secondcolor"  target="_blank"  href="https://github.com/wsilvabarros" alt="Menu Principal" name="Menu Principal">
                               
                                Github
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main-content">
                    <ul id="results"></ul>
                    <br/>
                    {{ content }}
                </div>
            </div>
        </div>
        <!-- || -->
       <div class="footer footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Mad Mage Dungeon | 2024</h3>
            </div>
            <div class="col-md-6 text-right">
              <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        
                    </li>
                    <li class="list-inline-item">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

           <script async src="https://madmagedungeon.github.io//assets/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    </body>
</html>
