---
layout: default
---
<article class="post">
<div  style="
  width:100%; 
  height:300px; 
  border-radius:15px;
   background: url({{ page.image }});
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom:20px;
  ">
</div>
  <h1>{{ page.title }}</h1>
  <div class="date">
{{ page.date | date: "%d de %B de %Y" }} - Escrito por: {{ page.author }}
  </div>
  <hr/>
  <div class="entry">
    {{ content }}
  </div>
<div id="graphcomment"></div>
<script type="text/javascript">

  var __semio__params = {
    graphcommentId: "Mad-Mage-Dungeon", 
    behaviour: {
      uid: "{{ page.id }}", 
    },
  }

  function __semio__onload() {
    __semio__gc_graphlogin(__semio__params)
  }
  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>


 {% comment %}
  <!-- Only show related pages on a page when `related: true` -->
{% endcomment %}
{% include related_posts.html %}
</article>
